.js-about.about#about
    h2 About me
    .about__content
        p Hi, I'm Denis – UX/UI designer from Minsk. I'm interested in design and everything connected with it.
        p I'm studying at courses "Web and mobile design interfaces" in IT-Academy.
        p Ready to implement excellent projects with wonderful people.