-
    const headerItems = [
        {ru: 'Главная', en: 'Home', link: 'home'},
        {ru: 'Обо мне', en: 'About me', link: 'about'},
        {ru: 'Навыки', en: 'Skills', link: 'skills'},
        {ru: 'Портфолио', en: 'Portfolio', link: 'portfolio'},
        {ru: 'Контакты', en: 'Contacts', link: 'contacts'},
    ]

header.nav.js-navigation
    each item in headerItems
        .nav__link
            a(lang='en' href='#'+item.link) #{item.en}
            a(lang='ru' href='#'+item.link) #{item.ru}
