.home.block.js-block#home
    .home__content
        .home__name
            p(lang='en') Maxim
            p(lang='ru') Максим
            p(lang='en') Vasiukov
            p(lang='ru') Васюков
        .home__info
            p(lang='en') Frontend Developer
            p(lang='ru') Frontend Developer
            p(lang='en') 25 years old, Moscow
            p(lang='ru') 25 лет, Москва
        .home__languages-buttons.js-languages-buttons
            button
                p(lang='en').eng ENG
                p(lang='ru') ENG
            button
                p(lang='en') RU
                p(lang='ru').ru RU
    .home__img
        img(src='./image/01.jpg')
