.home
    .home__content
        .home__content_name
            p(lang='en') Maxim
            p(lang='ru') Максим
            p(lang='en') Vasiukov
            p(lang='ru') Васюков
        .home__content_info
            p(lang='en') Frontend Developer
            p(lang='ru') Frontend Developer
            p(lang='en') 25 years old, Moscow
            p(lang='ru') 25 лет, Москва
        .home__content_language
            button
                p(lang='en') Eng
                p(lang='ru') Eng
            button
                p(lang='en') Ru
                p(lang='ru') Ru
    .home_img
        img(src='./image/photo_2021-12-24 11.25.50.jpeg')
