.home {
  &__content {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_name {
      line-height: 59px;
      font-size: 48px;
      color: #070707;
      white-space: pre-line;
      word-wrap: break-word;
    }
  }
}