doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, shrink-to-fit=no")
        title Document
        link(href="./style.css" rel="stylesheet")
    body(class= mainPage)
        include pug/header
        .js-main
            include pug/home
            .js-about
            .js-skills
            .js-portfolio
            .js-contacts
        script(src="./index.js")